.navbar {
	width: 256px;
	transition: width .2s ease;
	z-index: 10;
	background-color: rgb(97, 153, 216);
	position: fixed;
	z-index: 10000;
	height: 100vh;
}
.ham {
	opacity: 0;
	transition: opacity .2s ease;
}
@media screen and (max-width: 992px) {
	.navbar {
		width: 100% !important;
	}
	.navbar.closed {
		opacity: 0;
		pointer-events: none;
	}
	.ham {
		opacity: 1;
	}
}
.navbar * {
	color: var(--light_color) !important;
}
.navbar.closed {
	width: 56px;
}
.header {
	background-color: var(--primary_color);
	padding: 20px 15px;
}
@media screen and (min-width: 992px) {
	.closed .close {
		display: none;
	}
}
.links {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.links a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
	line-height: 24px;
	padding-left: 10px;
}
.links a.active {
	background-color: white;
}
.links a.active * {
	color: var(--primary_color) !important;
}
i {
	font-size: 24px;
}