.item {
	border-radius: 24px;
	width: 100%;
	overflow: hidden;
	transition: box-shadow .2s ease;
}
.item:hover {
	box-shadow: 0px 10px 10px 0px var(--dark_color);
	cursor: pointer;
}
.item_image {
	max-height: 200px;
	padding-left: 0;
}
.content {
	background-color: #F5F6F8;
}