.input {
	position: relative;
}
.input label {
	color: #D4D7DC;
	font-weight: bold;
	font-size: 0.8em;
	margin-bottom: 0;
}

.input input,.input textarea {
	border: transparent;
	font-weight: bold;
	width: 100%;
	font-size: 1.4em;
	transform: translate(0, -7px);
	background: transparent;
}

.input .icon {
	line-height: 59px;
	font-size: 30px;
	margin: 0 20px;
}