.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--light_color);
	transition: opacity .2s ease;
	transition-delay: 0.2s;
}
.finished {
	opacity: 0;
	pointer-events: none;
}