.header {
	min-width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	min-height: 60px;
}
.header a {
	font-size: 42px;
	font-weight: bolder;
	color: #D4D7DC !important;
	text-decoration: none;
	height: 60px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	display: inline-block;
}
.header a.active {
	color: var(--dark_color) !important;
}
.screen {
	min-height: 100vh;
}
.screen form {
	opacity: 0;
	animation: fadein .3s ease forwards;
}
@keyframes fadein {
	to {
		opacity: 1;
	}
}
.footer_button {
	font-size: 0.8em;
	color: #D4D7DC !important;
	font-weight: normal !important;
}
.footer_button span {
	width: 100%;
	text-align: center;
	font-size: 18;
	line-height: 16px;
	color: var(--light_color);
}