.carousel {
    height: 360px;
}

.carousel > div {
    border-radius: 24px;
    overflow: hidden;
}

.backholder {
    position: relative;
}

.back {
    background-color: rgb(40, 10, 59);
    filter: blur(1px);
    position: absolute;
    width: 100%;
    height: 90%;
    top: 5%;
    left: 0;
    z-index: -1;
    background-size: cover;
}

.carousel ul {
    height: 360px;
}

.slide {
    height: 360px;
}

.slide > img {
    pointer-events: none;
}

.slide > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.carousel .slide > div * {
    transform: translate(0, 100px);
    opacity: 0;
    transition: all 1s ease;
}

.carousel [class*=slide-visible] .slide > div * {
    opacity: 1;
    transform: translate(0);
}

.absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.absolute a {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .absolute {
        position: relative;
        height: 50%;
        text-align: center;
    }
    .absolute a {
        width: 100%;
    }
}