.menu {
	width:200px;
	position: absolute;
	background-color: white;
	opacity: 0;
	pointer-events: none;
	transition: opacity .2s ease;
	right: 20px;
	top: 100%;
	box-shadow:  0px 10px 10px 2px rgba(0,0,0, 0.2);
}
.display {
	opacity: 1;
	pointer-events: all;
}
.menu a,.menu button {
	width: 100%;
	padding-left: 5px;
	display: inline-block;
}
.menu a i,.menu button i {
	transform: translate(0,4px);
}