.tag {
    transition: all .2s ease;
    margin: 0 4px;
}
.tag:hover,.tag_selected {
    font-size: 1.2em;
    color: var(--secondary-color);
    cursor: pointer;
}

.item {
    position: relative;
    text-align: center;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 10px 20px 30px;
    border-radius: 24px;
    animation: fadein .2s ease;
    transition: box-shadow .4s ease;
    box-shadow: 0px 4px 8px 2px lightgray;
    margin-bottom: 50px;
    min-height: 315px;
}

.item:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px 8px lightgray;
}

.item .description {
    color: var(--secondary-color);
    font-size: 12px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}