.button {
    border: 0;
    outline: none;
    position: relative;
    transition: background-color .2s ease, color .2s ease !important;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    opacity: 0.8;
}

.button:hover,.button.active {
    color: var(--secondary-color);
    text-decoration: none;
    opacity: 1;
}

.button:hover .bubble,.button.active .bubble {
    opacity: 1;
}

.bubble {
    opacity: 0;
    transition: opacity .4s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}