.button {
	height: 45px;
	border-radius: 24px;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
}

[class*=sticky] .button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 5px 20px 10px;
}

.button:hover {
    text-decoration: none;
}

.button * {
    pointer-events: none;
}

.icon {
	border-radius: 24px !important;
	width: 100% !important;
	height: 45px !important;
    padding: 0 8px !important;
}

.icon i {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	right:8px;
	text-align: center;
	line-height: 30px;
}