.ripple {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}
  
@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}