@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

*:not(.fa):not(.fas) {
	font-family: "Lato", sans-serif !important;
}

#root {
	min-height: 100vh;
	background-color: #F5F6F8;
	overflow-x: hidden;
}

#content {
	animation: fadein .2s ease forwards;
	opacity: 0;
}

@keyframes fadein {
	to {
		opacity: 1;
	}
}

/* Overwrite toastify */
div.Toastify__toast {
	border-radius: 25px;
	margin-bottom: 15px;
}
div.Toastify__toast:last-child {
	margin-bottom: 0;
}
div.Toastify__toast button.Toastify__close-button {
	align-self: auto;
	margin-right: 10px;
}
div.Toastify__toast.Toastify__toast--success {
	background: var(--secondary_color);
}
div.Toastify__toast.Toastify__toast--warning {
	background: var(--primary_color);
}
div.Toastify__toast.Toastify__toast--warning .Toastify__toast-body {
	color: var(--light_color);
}
.alert {
	border-radius: 25px;
}
.Toastify__toast-container {
	padding: 15px;
}

/* Colors */

:root {	
	--primary_color: #1D599F;
	--secondary_color: #43CEA2;
	--light_color: #FFFFFF;
	--dark_color: #515C6F;
}