.card {
	background-color: var(--light_color);
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
	border-radius: 12px;
	padding: 10px 20px;
	width: 100%;
	margin-bottom: 20px;
}
.card [class*=row]:not(:first-child):after {
	content:"";
	border-bottom: 1px solid #D4D7DC;
	width: 100%;
	position: absolute;
	opacity: 0.1;
}
.card h4 {
	margin: 0;
	font-weight: bold;
	margin-bottom: 10px;
}
.card p {
	margin: 0;
	display: inline;
}