.background_gradient {
	background: linear-gradient(90deg, var(--primary_color) 0%, var(--secondary_color) 100%);
	box-shadow: 0px 2px 10px 0px var(--primary_color);
	color: var(--light_color);
}

/* Primary */
.background_color_primary {
    background-color: var(--primary_color);
	box-shadow: 0px 2px 10px 0px var(--primary_color);
    color: var(--light_color);
}
.background_color_primary i {
	background-color: white;
	color: var(--primary_color) !important;
}
.background_color_primary:hover {
	opacity: 0.9;
}
.line_color_primary {
    background: none;
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
}
.line_color_primary:hover {
    background-color: var(--primary_color);
	color: var(--light_color);
	opacity: 0.9;
}
.hover_color_primary {
    background: none;
    color: var(--primary_color);
}
.hover_color_primary:hover,.hover_color_primary.active {
    background-color: var(--primary_color);
    color: var(--light_color);
}

/* Danger */
.background_color_danger {
    background-color: var(--danger_color);
	box-shadow: 0px 2px 10px 0px var(--danger_color);
    color: var(--light_color);
}
.background_color_danger i {
	background-color: white;
	color: var(--danger_color) !important;
}
.background_color_danger:hover {
	opacity: 0.9;
}
.line_color_danger {
    background: none;
    border: 2px solid var(--danger_color);
    color: var(--danger_color);
}
.line_color_danger:hover {
    background-color: var(--danger_color);
    color: var(--light_color);
}
.hover_color_danger {
    background: none;
    color: var(--danger_color);
}
.hover_color_danger:hover,.hover_color_danger.active {
    background-color: var(--danger_color);
    color: var(--light_color);
}

/* Secondary */
.background_color_secondary {
    background-color: var(--secondary_color);
    color: var(--light_color);
}
.background_color_secondary i {
	background-color: white;
	color: var(--secondary_color) !important;
}
.background_color_secondary:hover {
	opacity: 0.9;
}
.hover_color_secondary {
    background: none;
    color: var(--secondary_color);
}
.hover_color_secondary:hover,.hover_color_secondary.active {
    background-color: var(--secondary_color);
    color: var(--light_color);
}

/* Light */
.background_color_light {
    background-color: var(--light_color);
    color: var(--secondary_color);
}
.background_color_light:hover {
	opacity: 0.9;
}
.line_color_light {
    background: none;
    border: 2px solid var(--light_color);
    color: var(--light_color);
}
.line_color_light:hover {
    background-color: var(--light_color);
    color: var(--secondary_color);
}
.hover_color_light {
    background: none;
    color: var(--dark_color);
}
.hover_color_light:hover,.hover_color_light.active {
    background-color: var(--light_color);
    color: var(--dark_color);
}

/* Dark */
.background_color_dark {
    background-color: var(--dark_color);
    color: var(--light_color);
}
.background_color_dark:hover {
	opacity: 0.9;
}
.line_color_dark {
    background: none;
    border: 2px solid var(--dark_color);
    color: var(--dark_color);
}
.line_color_dark:hover {
    background-color: var(--dark_color);
    color: var(--light_color);
}
.hover_color_dark {
    background: none;
    color: var(--dark_color);
}
.hover_color_dark:hover,.hover_color_dark.active {
    background-color: var(--dark_color);
    color: var(--light_color);
}