.dust_base {
    overflow: hidden;
    background: rgb(237,142,69);
    background: linear-gradient(60deg, #B353DB 0%, #EF9456 100%);
    width: 100%;
    height: 100%;
}
.dust_back {
    filter: blur(2px);
    z-index: 0;
}
.dust_front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.dust_blur {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    top: 0;
    left: 0;
}